/*backgroud*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}
:root{
	--bg-color: #fff;
	--text-color: #221314;
	--second-color: #5a7184;
	--main-color: #f15926;
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}
body{
	background: var(--bg-color);
	color: var(--text-color);
	width: 100%;
	height: 100%;
	
}

/*Header*/
header{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgba(0, 0, 0, 0.6);
	/* padding: 30px 18%; */
	/* padding: 10px 18%; */
	transition: ease .40s;
}
/* header:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
}  */

.logo{
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--bg-color);
}

.navbar{
	display: flex;
}
.navbar a{
	color: var(--bg-color);
	font-size: var(--p-font);
	font-weight: 500;
	padding: 10px 22px;
	border-radius: 4px;
	transition: ease .40s;
}
.navbar a:hover{
	background: var(--bg-color);
	color: var(--text-color);
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	border-radius: 4px;
}


#menu-icon{
	color: var(--bg-color);
	font-size: 28px;
	z-index: 10;
	cursor: pointer;
	display: none;
}

/*Home section*/

/* .home{
	position: relative;
	width: 100vw;
	height: 100vh;
	background: url("C:\Users\ezips\OneDrive\Documents\Travel Website\img\Toledo.mp4.mp4");
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
}  */

/* .background-video {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
  } */

  section {
	padding: 80px 18%;
}

  .home {
	height: 100vh;
	display: flex;
	/* display: grid; */
	/* grid-template-columns: repeat(1, 1fr); */
	align-items: center;
	color: #fff;
	padding: 80px 18%;
	/* padding: 0 20px; */
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/* background-image:image-set("C:\Users\ezips\OneDrive\Documents\Travel Website\img\toledo-landing-img.png") no-repeat center; */
	z-index: -1;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

/* .video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
} */
.home-text{
	margin-top: 50px;
}
.home-text h1{
	font-size: var(--big-font);
	line-height: 1.2;
	margin-top: 50px;
	/* margin-bottom: 20px; */
	color: var(--bg-color);
	font-family: 'Paytone One', sans-serif;
	letter-spacing: 4px;
}
/* .home-text h2{
	font-size: var(--h2-font);
	line-height: 1.2;
	/* margin-top: 50px; */
	/* margin-bottom: 20px; */
	/* color: var(--bg-color);
	font-family: 'Paytone One', sans-serif;
	letter-spacing: 4px;
} */ 


/* ------------Rotating Block Start ------------*/
.rotating-block{
	position: relative;
	height: 70px;
	overflow: hidden;
}
.rotating-block h1{
	font-size: var(--big-font);
	line-height: 70px;
	/* margin-top: 50px; */
	/* margin-bottom: 20px; */
	color: var(--main-color);
	font-family: 'Paytone One', sans-serif;
	letter-spacing: 1px;
}

.rotating-block h1:nth-child(1){
	animation: text-move 10s infinite;
}

@keyframes text-move{
	0%{
		margin-top: 0;
	  }
	  25%{
		margin-top: -70px;
	  }
	  50%{
		margin-top: -140px;
	  }
	  75%{
		margin-top: -70px;
	  }
	  100%{
		margin-top: 0;
	  }
}

/* ---------------Rotating Block End------------------ */



.home-text p{
	color: var(--bg-color);
	font-size: 20px;
	/* font-weight: 900; */
	line-height: 2.0;
	margin-top: 50px;
	letter-spacing: 1px;
	
}
.home-list{
	line-height: 2.0;
}

.home-btn{
	display: inline-block;
	font-size: 16px;
	margin-top: 30px;
	
	padding: 15px 30px;
	/* background: #ffffffbf; */
	background: var(--main-color);
	color: var(--bg-color);
	border-radius: 4px;
	transition: ease .40s;
	
}
.home-btn:hover{
	background: var(--bg-color);
	color: var(--main-color);
	transform: scale(1.1);
}

span { font-size: 60%; font-weight: normal }

/*Keep Header at top of the page*/
header.sticky{
	background: var(--main-color);
	padding: 10px 18%;
	box-shadow: rgba(33,35,38, 0.1) 0px 10px 10px -10px;
}
.sticky .logo{
	color: var(--bg-color);
}
.sticky .navbar a{
	color: var(--bg-color);
} 
.sticky .navbar a:hover{
	background: var(--bg-color);
	color: var(--main-color);
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	border-radius: 4px;
}

/*Container*/
/*
.text h2{
	font-size: var(--h2-font);
	line-height: 1.1;
}
.row-items{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	grid-gap: 2rem;
	align-items: center;
	text-align: center;
	margin-top: 5rem;
}
.container-box{
	background: var(--bg-color);
	border: 1px solid #f0eded;
	padding: 50px 10px;
	border-radius: 4px;
	transition: all 1s ease 0s;
	cursor: pointer;
}
.container-img img{
	height: 85px;
	width: 85px;
	padding: 15px;
	background: var(--bg-color);
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	border-radius: 4px;
	margin-bottom: 15px;
	cursor: pointer;
}
.container-box h4{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 8px;
}
.container-box p{
	font-size: 15px;
	color: var(--second-color);
}
.container-box:hover{
	box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
	border: 1px solid transparent;
	transform: translateY(-3px);
}
*/

/* Gallery*/
.title{
	text-align: center;
	margin-top: 30px;
}
.title h2{
	font-size: var(--h2-font);
	line-height: 1.2;
	color: var(--main-color);
}

.gallery-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
}

/*
.gallery-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
}
*/
.col-content{
	position: relative;
}
.col-content img{
	width: 100%;
	height: 500px;
	object-fit: cover;
	border-radius: 15px;
	filter: brightness(80%);
	transition: all .3s cubic-bezier(.495,.05,.55,.95);
	will-change: filter;
}
.col-content h5{
	position: absolute;
	font-size: 22px;
	font-weight: 500;
	color: var(--bg-color);
	left: 15px;
	bottom: 60px;
}
.col-content p{
	position: absolute;
	font-size: 15px;
	color: var(--bg-color);
	left: 15px;
	bottom: 30px;
	letter-spacing: 2px;
}
.col-content img:hover{
	filter: brightness(100%) hue-rotate(45deg);
	transform: scale(1.04);
	cursor: pointer;
}

/*PDF section*/
.package-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
}
.thum{
	position: relative;
	transition: all .3s cubic-bezier(.445,.05,.55,.95);
	will-change: filter;
	cursor: pointer;
}
.thum img{
	width: 100%;
	height: auto;
}
.thum h3{
	position: absolute;
	font-size: 30px;
	font-weight: 600;
	text-align: right;
	color: var(--bg-color);
	top: 36px;
	right: 40px;
}
.thum:hover{
	filter: brightness(100%) hue-rotate(45deg);
	transform: scale(1.04);
}

/* PDF logo "Font"*/
.fa-solid.fa-file-pdf{
	
	height: 40px;
	width: 40px;
	color: white;
	display:inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	transition: .3s;
	margin-right: 2px;
	margin-top: 30px;
}
.fa-solid.fa-file-pdf:hover{
	transform: scale(2.0);
}
/* Google Drive "Font"*/
.fa-brands.fa-google-drive{
	
	height: 40px;
	width: 40px;
	color: white;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	
	transition: .3s;
	margin-right: 2px;
	margin-top: 10px;
}
.fa-brands.fa-google-drive:hover{
	transform: scale(2.0);
}

.dest-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 24px;
}
/*.stars i{
	color: var(--main-color);
	font-size: 20px;
}
*/
.location h4{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 8px;
}
.location p{
	font-size: 15px;
	color: var(--second-color);
}

/*Newsletter*/
.send{
	width: 100%;
}
.newsletter{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	grid-gap: 3rem;
}
.news-text h2{
	font-size: var(--h2-font);
	margin-bottom: 5px;
}
.news-text p{
	font-size: var(--p-font);
	color: var(--second-color);
	line-height: 30px;
}
.newsletter form{
	max-width: 100%;
	width: 450px;
	position: relative;
}
.newsletter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 20px 150px 20px 30px;
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	outline: none;
	border: none;
	border-radius: 15px;
}
/* Submit button */
.newsletter form input:last-child{
	display: inline-block;
	position: absolute;
	outline: none;
	border: none;
	padding: 14px 30px;
	border-radius: 15px;
	background: var(--main-color);
	color: var(--bg-color);
	top: 6px;
	right: 6px;
	cursor: pointer;
}

/*footer*/
#contact{
	background: var(--main-color);
}
.main{
	display: flex;
	flex-wrap: wrap;
}
.footer{
	padding: 20px 0;
}
.list{
	width: 25%;
}
.list h4{
	font-size: 21px;
	color: var(--bg-color);
	margin-bottom: 30px;
	position: relative;
}
.list h4::before{
	content: "";
	position: absolute;
	height: 2px;
	width: 60px;
	left: 0;
	bottom: -10px;
	background: var(--bg-color);
}
.list ul li:not(last-child) {
	margin-bottom: 16px;
}
.list ul li a{
	color: #ffffffbf;
	font-size: var(--p-font);
	display: block;
	transition: .3s;
}
.list ul li a:hover{
	color: var(--bg-color);
	transform: translateX(14px);
}
.list .social a{
	height: 40px;
	width: 40px;
	background: var(--bg-color);
	color: var(--main-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 21px;
	border-radius: 15px;
	transition: .3s;
	margin-right: 10px;
}
.list .social a:hover{
	transform: scale(1.1);
}
.end-text{
	text-align: center;
	padding-top: 90px;
}
.end-text p{
	color: var(--bg-color);
	font-size: 14px;
	letter-spacing: 2px;
}

/* 
Mobile: 320px - 480px (iPhone 4, 5, 6, Samsung Galaxy, etc.)
Tablet: 768px - 1024px (iPad, Nexus 7, Samsung Galaxy Tab, etc.)
Laptop: 1024px - 1440px (Macbook, Dell XPS, etc.)
Desktop: 1440px - 1920px (iMac, Dell Optiplex, etc.)

1366 x 768 (most common laptop screen resolution)
1920 x 1080 (most common desktop screen resolution)
768 x 1024 (iPad screen resolution) 
375 x 667 (iPhone 6/7/8 screen resolution)
360 x 640 (most common Android screen resolution)
*/
 
@media (max-width: 1400px){
	header{
		padding: 10px 3%;
		transition: .2s;
	}
	header.sticky{
		padding: 10px 3%;
		transition: .2s;
	}
	.home{
		padding: 80px 3%;
		transition: .2s;
	}
	:root{
		--big-font: 4.5rem;
	  --h2-font: 2.3rem;
	  --p-font: 1rem;
	  transition: .2s;
	}
}

/*when veiwing on Desktop screen*/ 


@media (max-width: 1040px){
	#menu-icon{
		display: block;
	}
	.sticky #menu-icon{
		color: var(--bg-color);
	}
	.home{
		height: 88vh;
		width:100%;
	}
	.navbar{
		position: absolute;
		top: 0;
		right: -100%;
		width: 270px;
		height: 120vh;
		background: var(--main-color);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 150px 30px;
		transition: 0.5s all;
	}
	.navbar a{
		display: block;
		margin: 1.2rem 0;
	}
	.sticky .navbar a{
		color: var(--bg-color);
	}
	.navbar a:hover{
		color: var(--text-color);
	}
	.open{
		right: 0;
	}
	.list{
		width: 50%;
		margin-bottom: 12px;
	}
}

@media (max-width: 768px){
	.body{
		width: 750px;
	}
	.header{
		width: 750px;
	}
	.list{
		width: 100%;
	}
	.newsletter form{
		width: 350px;
	}
	:root{
		--big-font: 3.8rem;
		--h2-font: 1.8rem;
		transition: .2s;
	}
	.text{
		text-align: center;
	}
	.home{
		height: 85vh;
		transition: .2s;
		
	}
	.section {
		padding: 0px;
	}
}
/* Media query for phone screens */
@media (max-width: 414px) {
	:root{
	  --big-font: 3rem;
	  --h2-font: 2rem;
	  --p-font: 1rem;
	}
	.body{
		width: 100%;
		right: 0;
	}
	header {
	  padding: 5px 3%;
	}
  
	.logo {
	  font-size: 24px;
	}
  
	
	.home-text {
		margin-top: 100px;
	}
	.home-text h1{
	 font: weight 800px; ;
	}
	.navbar {
	  flex-direction: column;
	  align-items: center;
	  background-color: rgba(0, 0, 0, 0.6);
	  position: absolute;
	  top: 70px;
	  left: -100%;
	  width: 100%;
	  transition: all 0.5s ease;
	  height: 90vh;
	  padding-top: 80px;
	}
  
	.navbar a {
	  display: block;
	  font-size: 20px;
	  padding: 20px;
	  text-align: center;
	  margin-bottom: 15px;
	}
  
	.navbar a:hover {
	  background: var(--main-color);
	  color: var(--bg-color);
	}
  
	.show {
	  left: 0;
	}
  
	#menu-icon {
	  display: block;
	}
  }
  